Repository colamong/Daon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-and-push-be, deploy-backend, build-fe, package-fe, deploy-frontend

build-and-push-be:
  stage: build_be
  tags:
  - daon
  script:
  - echo "=== Docker Hub Login ==="
  - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_TOKEN"
  - echo "=== Docker Build ==="
  - docker build -t "$IMAGE_NAME:latest" BE
  - echo "=== Docker Push ==="
  - docker push "$IMAGE_NAME:latest"

deploy-backend:
  stage: deploy_be
  tags:
  - daon
  needs:
  - build-and-push-be
  script:
  - set -euxo pipefail
  - docker stop "$CONTAINER_NAME" || true
  - docker rm "$CONTAINER_NAME" || true
  - docker pull "$IMAGE_NAME:latest"
  - test -f "$ENV_FILE"
  ...

build-fe:
  stage: build_fe
  image: node:18-alpine
  cache:
    key: fe-${CI_COMMIT_REF_SLUG}
    paths:
    - FE/my-vue-app/node_modules/
  script:
  - cd FE/my-vue-app
  - npm ci
  - npm run build
  artifacts:
    paths:
    - FE/my-vue-app/dist/
    expire_in: 1 week

package-fe:
  stage: package_fe
  image: alpine:3.20
  needs:
  - build-fe
  script:
  - apk add --no-cache tar
  - export RELEASE="${CI_PIPELINE_IID}-${CI_COMMIT_SHORT_SHA}"
  - tar -czf "dist-${RELEASE}.tar.gz" -C FE/my-vue-app/dist .
  - echo "${RELEASE}" > RELEASE.txt
  artifacts:
    paths:
    - dist-*.tar.gz
    - RELEASE.txt
  ...

deploy-frontend:
  stage: deploy_fe
  image: alpine:3.20
  needs:
  - package-fe
  environment:
    name: production
    url: https://i13a706.p.ssafy.io
  before_script:
  - apk add --no-cache openssh-client bash
  - - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
  ...

Update .gitlab-ci.yml file(node version)
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file(0143)
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml(0148)
  BE/.gitlab-ci.yml
Due: build-and-push-be, deploy-backend

test .gitlab-ci.yml
  FE/my-vue-app/src/views/ChildProfile.vue
Due: build-fe, package-fe, deploy-frontend

Update axios.js
  FE/my-vue-app/src/utils/axios.js
Due: build-fe, package-fe, deploy-frontend

Update application.yml (tesseract)
  BE/src/main/resources/application.yml
Due: build-and-push-be, deploy-backend

fix: 성장기록 페이지 렌더링 및 이동 문제 해결
  FE/my-vue-app/src/views/Growth.vue
Due: build-fe, package-fe, deploy-frontend

Ocr 회원가입시 국가코드에 맞게 번역
  BE/src/main/java/com/daon/be/global/common/LanguageMapper.java
  BE/src/main/java/com/daon/be/ocr/controller/OcrController.java
Due: build-and-push-be, deploy-backend

feat: header effect add
  FE/my-vue-app/src/components/layout/Header.vue
Due: build-fe, package-fe, deploy-frontend

fix: ws 수정
  FE/my-vue-app/.env.development
  FE/my-vue-app/.env.production
  FE/my-vue-app/vite.config.js
Due: build-fe, package-fe, deploy-frontend

feat: schedulecard effects add
  FE/my-vue-app/src/components/card/ScheduleCard.vue
  FE/my-vue-app/src/components/widget/ScheduleList.vue
  FE/my-vue-app/src/views/Dashboard.vue
Due: build-fe, package-fe, deploy-frontend

fix: create child profile error
  BE/src/main/java/com/daon/be/child/service/ChildServiceImpl.java
Due: build-and-push-be, deploy-backend

feat: 대시보드 오늘의 활동 영역 호버시 효과 추가
  FE/my-vue-app/src/components/card/BaseCard.vue
  FE/my-vue-app/src/views/Dashboard.vue
Due: build-fe, package-fe, deploy-frontend

feat: 대시보드 기능 카드 효과 추가
  FE/my-vue-app/src/components/card/BaseCard.vue
Due: build-fe, package-fe, deploy-frontend

feat: footer router connect
  FE/my-vue-app/src/components/layout/Footer.vue
Due: build-fe, package-fe, deploy-frontend

childProfile created at delete
  FE/my-vue-app/src/views/ChildProfile.vue
Due: build-fe, package-fe, deploy-frontend

feat: 학습 페이지 타이핑 효과 추가
  FE/my-vue-app/src/components/effect/TypingEffect.vue
  FE/my-vue-app/src/views/LearningPage.vue
Due: build-fe, package-fe, deploy-frontend

fix: google login error
  BE/src/main/java/com/daon/be/child/service/ChildServiceImpl.java
  BE/src/main/java/com/daon/be/global/config/SecurityConfig.java
  BE/src/main/java/com/daon/be/user/auth/oauth/CustomOAuth2FailureHandler.java
  BE/src/main/java/com/daon/be/user/auth/oauth/CustomOAuth2SuccessHandler.java
Due: build-and-push-be, deploy-backend

fix: typing effect edit
  FE/my-vue-app/src/components/effect/TypingEffect.vue
Due: build-fe, package-fe, deploy-frontend

feat: child ai recommand add
  FE/my-vue-app/src/services/childService.js
  FE/my-vue-app/src/store/child.js
  FE/my-vue-app/src/views/Dashboard.vue
  FE/my-vue-app/src/views/EditChild.vue
Due: build-fe, package-fe, deploy-frontend

hotfix: google login delete
  FE/my-vue-app/src/assets/icons/google.svg
  FE/my-vue-app/src/views/Login.vue
  FE/my-vue-app/src/views/SignUp.vue
Due: build-fe, package-fe, deploy-frontend

fix: error log 출력
  BE/src/main/java/com/daon/be/global/exception/GlobalExceptionHandler.java
  BE/src/main/resources/application.yml
Due: build-and-push-be, deploy-backend

fix: tesseract dockerfile 추가
  BE/Dockerfile
Due: build-and-push-be, deploy-backend

fix: 랜딩, 로그인, 회원가입 페이지 디자인 수정
  FE/my-vue-app/src/assets/images/landing_img.png
  FE/my-vue-app/src/components/layout/BaseAuthLayout.vue
  FE/my-vue-app/src/views/LandingPage.vue
  FE/my-vue-app/src/views/SignUp.vue
Due: build-fe, package-fe, deploy-frontend

fix: delete dummy data
  FE/my-vue-app/src/assets/images/07_28_2025.png
  FE/my-vue-app/src/assets/images/07_28_2025_detail.png
  FE/my-vue-app/src/assets/images/08_04_2025.png
  FE/my-vue-app/src/assets/images/08_04_2025_detail.png
  FE/my-vue-app/src/assets/images/08_15_2025.png
  FE/my-vue-app/src/assets/images/08_15_2025_detail.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Donggu,_Gwangju.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Gangdong,_Seoul.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Gangnam,_Seoul.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Gwangjin,_Seoul.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Haeundae,_Busan.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Jongno,_Seoulpng.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Junggu,_Daegu.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Junggu,_Seoul.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Michuhol,_Incheon.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Seocho,_Seoul.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Seongbuk,_Seoul.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Seongdong,_Seoul.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Songpa,_Seoul_(2020-2022).png
  FE/my-vue-app/src/assets/images/re/Flag_of_Suncheon.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Suseong,_Daegu.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Suyeong,_Busan.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Yeonsu,_Incheon.png
  FE/my-vue-app/src/assets/images/re/Flag_of_Yongsan,_Seoul.png
Due: build-fe, package-fe, deploy-frontend

fix: fast api 설정
  FE/my-vue-app/.env.production
  FE/my-vue-app/src/services/pronunciationService.js
  FE/my-vue-app/src/services/websocketService.js
  FE/my-vue-app/vite.config.js
Due: build-fe, package-fe, deploy-frontend

test
  BE/src/main/java/com/daon/be/user/service/UserService.java
Due: build-and-push-be, deploy-backend

fix: dashboard hero img change
  FE/my-vue-app/src/assets/images/hero-bg.png
  FE/my-vue-app/src/views/Dashboard.vue
Due: build-fe, package-fe, deploy-frontend

fix: image change
  FE/my-vue-app/src/assets/images/bank.jpg
  FE/my-vue-app/src/assets/images/bank_0.jpg
  FE/my-vue-app/src/assets/images/community-hero.png
  FE/my-vue-app/src/assets/images/drawing.png
  FE/my-vue-app/src/assets/images/government.jpg
  FE/my-vue-app/src/assets/images/government_0.jpg
  FE/my-vue-app/src/assets/images/hospital.jpg
  FE/my-vue-app/src/assets/images/hospital_0.jpg
  FE/my-vue-app/src/assets/images/property.jpg
  FE/my-vue-app/src/assets/images/property_0.jpg
  FE/my-vue-app/src/assets/images/restaurant.jpg
  FE/my-vue-app/src/assets/images/restaurant_0.jpg
  FE/my-vue-app/src/assets/images/shopping.jpg
  FE/my-vue-app/src/assets/images/shopping_0.jpg
  FE/my-vue-app/src/components/card/ScenarioCard.vue
  FE/my-vue-app/src/views/ChapterSelect.vue
Due: build-fe, package-fe, deploy-frontend

fix: 시나리오 이미지 수정
  FE/my-vue-app/src/assets/images/school.png
Due: build-fe, package-fe, deploy-frontend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

feat: 타이핑 효과 추가
  FE/my-vue-app/src/assets/effects/typing.mp3
  FE/my-vue-app/src/components/effect/TypingEffect.vue
  FE/my-vue-app/src/utils/themeImages.js
Due: build-fe, package-fe, deploy-frontend

fix: redis 수정
  BE/src/main/java/com/daon/be/user/service/UserService.java
  BE/src/main/resources/application.yml
Due: build-and-push-be, deploy-backend

feat: calender add event
  FE/my-vue-app/src/components/modal/AddEventModal.vue
  FE/my-vue-app/src/components/widget/CalendarWidget.vue
  FE/my-vue-app/src/views/Dashboard.vue
Due: build-fe, package-fe, deploy-frontend

fix: 대시보드 캘린더 날짜 선택시 바로 해당 날짜 일정 등록 추가
  FE/my-vue-app/src/components/widget/CalendarWidget.vue
Due: build-fe, package-fe, deploy-frontend

fix: reidss
  BE/src/main/java/com/daon/be/user/service/UserServiceImpl.java
Due: build-and-push-be, deploy-backend

hotfix : redis 수정
  BE/src/main/resources/application.yml
Due: build-and-push-be, deploy-backend

Path conditions:
  build-and-push-be: any of: BE/**/*
  deploy-backend: any of: BE/**/*
  build-fe: any of: FE/my-vue-app/**/*
  package-fe: any of: FE/my-vue-app/**/*
  deploy-frontend: any of: FE/my-vue-app/**/*
