Repository colamong/Daon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-and-push-be, deploy-backend, build-fe, package-fe, deploy-frontend

.gitlab-ci.yml:

# .gitlab-ci.yml — BE(도커) + FE(정적배포), deploy 브랜치 전용

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'
    - when: never

stages: [build_be, deploy_be, build_fe, package_fe, deploy_fe]

default:
  interruptible: true
  tags: ["daon"]  # 모든 잡을 EC2 Shell 러너에서 실행

.ssh_setup: &ssh_setup
  - mkdir -p ~/.ssh
  - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - ssh-keyscan -H "$SSH_HOST" >> ~/.ssh/known_hosts

# ===== Backend =====

build-and-push-be:
  stage: build_be
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'
      changes:
        - BE/**/*
  before_script:
    - docker -v
  script:
    - echo "=== Docker Hub Login ==="
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_TOKEN"
    - echo "=== Docker Build ==="
    - docker build -t junwoooo/daon:latest BE
    - echo "=== Docker Push ==="
    - docker push junwoooo/daon:latest

deploy-backend:
  stage: deploy_be
  needs: ["build-and-push-be"]
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'
      changes:
        - BE/**/*
  script:
    - set -euxo pipefail
    # 네트워크 없으면 생성 (idempotent)
    - docker network inspect daon-network >/dev/null 2>&1 || docker network create daon-network
    # 기존 컨테이너 정리
    - docker stop daon-app || true
    - docker rm daon-app || true
    # 최신 이미지 풀
    - docker pull junwoooo/daon:latest
    # .env 존재 확인
    - test -f .env
    # 새 컨테이너 실행 (백슬래시 없이 한 줄)
    - docker run -d --name daon-app --network daon-network --env-file .env -p 8080:8080 --restart=always junwoooo/daon:latest
    # (옵션) 배포 직후 이름해석 확인
    - docker exec daon-app getent hosts redis || true

# ===== Frontend =====

build-fe:
  stage: build_fe
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'
      changes:
        - FE/my-vue-app/**/*
  before_script:
    - node -v
    - npm -v
  cache:
    key: fe-${CI_COMMIT_REF_SLUG}
    paths:
      - FE/my-vue-app/node_modules/
  script:
    - cd FE/my-vue-app
    - npm ci
    - npm run build
  artifacts:
    paths:
      - FE/my-vue-app/dist/
    expire_in: 1 week

package-fe:
  stage: package_fe
  needs: ["build-fe"]
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'
      changes:
        - FE/my-vue-app/**/*
  before_script:
    - tar --version
  script:
    - export RELEASE="${CI_PIPELINE_IID}-${CI_COMMIT_SHORT_SHA}"
    - tar -czf "dist-${RELEASE}.tar.gz" -C FE/my-vue-app/dist .
    - echo "${RELEASE}" > RELEASE.txt
  artifacts:
    paths:
      - dist-*.tar.gz
      - RELEASE.txt
    expire_in: 1 week

deploy-frontend:
  stage: deploy_fe
  needs: ["package-fe"]
  environment:
    name: production
    url: https://i13a706.p.ssafy.io
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'
      changes:
        - FE/my-vue-app/**/*
  before_script:
    - *ssh_setup
    - export RELEASE=$(cat RELEASE.txt)
    - export TARGET="${SSH_TARGET_DIR}"
    - export RELEASE_DIR="${TARGET}/releases/${RELEASE}"
  script:
    # 1) 서버에 릴리스 폴더 생성
    - ssh ${SSH_USER}@${SSH_HOST} "mkdir -p '${RELEASE_DIR}'"
    # 2) FE 아티팩트 업로드
    - scp dist-${RELEASE}.tar.gz ${SSH_USER}@${SSH_HOST}:"${RELEASE_DIR}/"
    # 3) 서버에서 압축 해제 및 원본 삭제
    - ssh ${SSH_USER}@${SSH_HOST} "cd '${RELEASE_DIR}' && tar -xzf dist-${RELEASE}.tar.gz && rm dist-${RELEASE}.tar.gz"
    # 4) current 심볼릭 링크 스위칭
    - ssh ${SSH_USER}@${SSH_HOST} "ln -sfn '${RELEASE_DIR}' '${TARGET}/current'"
    # 5) Nginx 검사 및 재시작
    - ssh ${SSH_USER}@${SSH_HOST} "sudo nginx -t && sudo systemctl reload nginx"
  allow_failure: false

fix: 발음 평가 모달 종료 버튼 수정
  FE/my-vue-app/src/components/modal/PronunciationModal.vue
Due: build-fe, package-fe, deploy-frontend

fix: 성장 기록 기본 모든 아이 목록 제공
  FE/my-vue-app/src/views/Growth.vue
Due: build-fe, package-fe, deploy-frontend

feat: childmain 호버 효과 추가
  FE/my-vue-app/src/assets/effects/decide.mp3
  FE/my-vue-app/src/views/ChildMain.vue
Due: build-fe, package-fe, deploy-frontend

fix: signup password check
  FE/my-vue-app/src/views/SignUp.vue
Due: build-fe, package-fe, deploy-frontend

fix: 유저 기본 프로필 등록
  FE/my-vue-app/src/assets/images/user_icon.png
  FE/my-vue-app/src/views/SignUp.vue
Due: build-fe, package-fe, deploy-frontend

fix: 아이 기본 프로필 등록
  FE/my-vue-app/src/assets/images/boy.png
  FE/my-vue-app/src/assets/images/girl.png
  FE/my-vue-app/src/views/RegisterChild.vue
Due: build-fe, package-fe, deploy-frontend

fix: 아이 기본 프로필 등록
  FE/my-vue-app/src/views/ChildProfile.vue
Due: build-fe, package-fe, deploy-frontend

fix: delete console
  FE/my-vue-app/src/components/card/ProfileCard.vue
  FE/my-vue-app/src/components/effect/TypingEffect.vue
  FE/my-vue-app/src/components/modal/IncorrectAnswerModal.vue
  FE/my-vue-app/src/components/modal/PronunciationModal.vue
  FE/my-vue-app/src/composables/useAuth.js
  FE/my-vue-app/src/composables/useDebounce.js
  FE/my-vue-app/src/composables/useFetch.js
  FE/my-vue-app/src/data/penguinData.js
  FE/my-vue-app/src/router/index.js
  FE/my-vue-app/src/services/childService.js
  FE/my-vue-app/src/services/communityService.js
  FE/my-vue-app/src/services/speechService.js
  FE/my-vue-app/src/services/userService.js
  FE/my-vue-app/src/services/websocketService.js
  FE/my-vue-app/src/store/auth.js
  FE/my-vue-app/src/store/child.js
  FE/my-vue-app/src/store/community.js
  FE/my-vue-app/src/store/index.js
  FE/my-vue-app/src/utils/colorManager.js
  FE/my-vue-app/src/utils/formatDate.js
  FE/my-vue-app/src/views/ChildDrawing.vue
  FE/my-vue-app/src/views/ChildMain.vue
  FE/my-vue-app/src/views/ChildPet.vue
  FE/my-vue-app/src/views/CommunityChat.vue
  FE/my-vue-app/src/views/Dashboard.vue
  FE/my-vue-app/src/views/EditChild.vue
  FE/my-vue-app/src/views/Growth.vue
  FE/my-vue-app/src/views/LearningPage.vue
  FE/my-vue-app/src/views/OCRTool.vue
  FE/my-vue-app/src/views/ProfileEdit.vue
  FE/my-vue-app/src/views/RegisterChild.vue
  FE/my-vue-app/src/views/SignUp.vue
Due: build-fe, package-fe, deploy-frontend

childdrawing error fix
  FE/my-vue-app/src/views/ChildDrawing.vue
Due: build-fe, package-fe, deploy-frontend

fix: 커뮤니티 이미지 수정
  FE/my-vue-app/src/assets/images/community-hero.png
Due: build-fe, package-fe, deploy-frontend

feat: 채팅방 이미지 업로드 완료
  FE/my-vue-app/.gitignore
  FE/my-vue-app/src/assets/images/re/daegu.png
  FE/my-vue-app/src/assets/images/re/gangnam.png
  FE/my-vue-app/src/assets/images/re/gyeongbuk.png
  FE/my-vue-app/src/assets/images/re/sejong.jpg
  FE/my-vue-app/src/components/card/CommunityCard.vue
  FE/my-vue-app/src/views/CommunityList.vue
Due: build-fe, package-fe, deploy-frontend

feat: 채팅방 입장 시 이전 메시지 안보이도록 로직 변경
  BE/src/main/java/com/daon/be/community/controller/CommunityController.java
  BE/src/main/java/com/daon/be/community/repository/ChatMessageRepository.java
  BE/src/main/java/com/daon/be/community/service/ChatMessageService.java
  BE/src/main/java/com/daon/be/community/service/ChatMessageServiceImpl.java
  FE/my-vue-app/src/services/communityService.js
  FE/my-vue-app/src/store/community.js
  FE/my-vue-app/src/views/CommunityChat.vue
Due: build-and-push-be, deploy-backend, build-fe, package-fe, deploy-frontend

feat: 채팅방 내 목록에서도 이미지 업로드
  FE/my-vue-app/src/views/CommunityChat.vue
Due: build-fe, package-fe, deploy-frontend

feat: 채팅방 이미지
  FE/my-vue-app/src/views/CommunityList.vue
Due: build-fe, package-fe, deploy-frontend

Revert "Merge branch 'hotfix/#91-delete-console' into 'dev'"
  FE/my-vue-app/src/assets/images/community-hero.png
  FE/my-vue-app/src/components/card/ProfileCard.vue
  FE/my-vue-app/src/components/effect/TypingEffect.vue
  FE/my-vue-app/src/components/modal/IncorrectAnswerModal.vue
  FE/my-vue-app/src/components/modal/PronunciationModal.vue
  FE/my-vue-app/src/composables/useAuth.js
  FE/my-vue-app/src/composables/useDebounce.js
  FE/my-vue-app/src/composables/useFetch.js
  FE/my-vue-app/src/data/penguinData.js
  FE/my-vue-app/src/router/index.js
  FE/my-vue-app/src/services/childService.js
  FE/my-vue-app/src/services/communityService.js
  FE/my-vue-app/src/services/speechService.js
  FE/my-vue-app/src/services/userService.js
  FE/my-vue-app/src/services/websocketService.js
  FE/my-vue-app/src/store/auth.js
  FE/my-vue-app/src/store/child.js
  FE/my-vue-app/src/store/community.js
  FE/my-vue-app/src/store/index.js
  FE/my-vue-app/src/utils/colorManager.js
  FE/my-vue-app/src/utils/formatDate.js
  FE/my-vue-app/src/views/ChildDrawing.vue
  FE/my-vue-app/src/views/ChildMain.vue
  FE/my-vue-app/src/views/ChildPet.vue
  FE/my-vue-app/src/views/CommunityChat.vue
  FE/my-vue-app/src/views/Dashboard.vue
  FE/my-vue-app/src/views/EditChild.vue
  FE/my-vue-app/src/views/Growth.vue
  FE/my-vue-app/src/views/LearningPage.vue
  FE/my-vue-app/src/views/OCRTool.vue
  FE/my-vue-app/src/views/ProfileEdit.vue
  FE/my-vue-app/src/views/RegisterChild.vue
  FE/my-vue-app/src/views/SignUp.vue
Due: build-fe, package-fe, deploy-frontend

feat: child menu bgm add
  FE/my-vue-app/src/assets/effects/bgm.mp3
  FE/my-vue-app/src/views/ChildDrawing.vue
  FE/my-vue-app/src/views/ChildMain.vue
Due: build-fe, package-fe, deploy-frontend

fix: 헤더 로고 수정, 프로필 카드 크기 수정
  FE/my-vue-app/src/components/layout/Header.vue
Due: build-fe, package-fe, deploy-frontend

refactor: 채팅방 목록 글씨크기 수정
  FE/my-vue-app/src/components/card/ChatListCard.vue
  FE/my-vue-app/src/views/CommunityChat.vue
  FE/my-vue-app/src/views/CommunityList.vue
Due: build-fe, package-fe, deploy-frontend

feat: 채팅방 내 프로필 이미지 연동
  BE/src/main/java/com/daon/be/community/dto/response/ChatMessageResponseDto.java
  BE/src/main/java/com/daon/be/community/service/ChatMessageServiceImpl.java
  FE/my-vue-app/src/components/widget/ChatBubble.vue
  FE/my-vue-app/src/components/widget/ChatWindow.vue
  FE/my-vue-app/src/services/websocketService.js
  FE/my-vue-app/src/views/CommunityChat.vue
  FE/my-vue-app/src/views/CommunityList.vue
Due: build-and-push-be, deploy-backend, build-fe, package-fe, deploy-frontend

fix : 아이 등록 안내 모달 창 수정
  FE/my-vue-app/src/components/modal/ConfirmChildRegistrationModal.vue
  FE/my-vue-app/src/views/Dashboard.vue
Due: build-fe, package-fe, deploy-frontend

feat: 발음 평가 디벨롭 - 한국어 음운 평가 기준에 따라
  AI_Pronounciation/main.py
  AI_Pronounciation/requirements.txt
  AI_Pronounciation/stt_service.py
Due: none

fix: child register edit
  FE/my-vue-app/src/components/form/BaseCheckboxGroup.vue
  FE/my-vue-app/src/components/form/BaseRadioGroup.vue
  FE/my-vue-app/src/views/RegisterChild.vue
Due: build-fe, package-fe, deploy-frontend

fix: 상황별 학습 수정사항 적용
  FE/my-vue-app/src/components/card/ScenarioCard.vue
  FE/my-vue-app/src/views/ChapterSelect.vue
  FE/my-vue-app/src/views/LearningPage.vue
  FE/my-vue-app/src/views/ThemeSelect.vue
Due: build-fe, package-fe, deploy-frontend

fix: ocr 페이지 수정
  FE/my-vue-app/src/views/OCRResult.vue
  FE/my-vue-app/src/views/OCRTool.vue
Due: build-fe, package-fe, deploy-frontend

fix: ocr 기능소개 텍스트 수정
  FE/my-vue-app/src/components/card/BaseCard.vue
Due: build-fe, package-fe, deploy-frontend

fix: 아이 프로필 및 수정 페이지 수정
  FE/my-vue-app/src/views/EditChild.vue
  FE/my-vue-app/src/views/RegisterChild.vue
Due: build-fe, package-fe, deploy-frontend

fix: 프로필 이미지 업로드 수정
  FE/my-vue-app/src/views/ProfileEdit.vue
Due: build-fe, package-fe, deploy-frontend

fix: 상황 별 학습 이미지 배경 수정
  FE/my-vue-app/src/views/ChapterSelect.vue
Due: build-fe, package-fe, deploy-frontend

fix: gif 경로 수정
  FE/my-vue-app/src/components/modal/NavigationTutorialModal.vue
Due: build-fe, package-fe, deploy-frontend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

fix: 프론트 shell 배포 수정
  BE/src/main/java/com/daon/be/ocr/controller/OcrController.java
Due: build-and-push-be, deploy-backend

fix: gif 용량문제 해결
  BE/src/main/java/com/daon/be/ocr/controller/OcrController.java
Due: build-and-push-be, deploy-backend

Update OcrController.java
  BE/src/main/java/com/daon/be/ocr/controller/OcrController.java
Due: build-and-push-be, deploy-backend

refactor: 채팅방 이미지 변경
  FE/my-vue-app/src/assets/images/re/gwanak.png
  FE/my-vue-app/src/assets/images/re/gyeongido.jpg
  FE/my-vue-app/src/assets/images/re/incheon.png
  FE/my-vue-app/src/assets/images/re/jeonnam.png
  FE/my-vue-app/src/views/CommunityList.vue
Due: build-fe, package-fe, deploy-frontend

feat: 그림 일기용 프롬프트 수정
  BE/src/main/java/com/daon/be/ai/client/OpenAiClient.java
  BE/src/main/java/com/daon/be/ai/service/ChildConversationGptServiceImpl.java
  BE/src/main/java/com/daon/be/ai/service/DiaryImagePromptBuilder.java
Due: build-and-push-be, deploy-backend

fix: 문구 수정
  FE/my-vue-app/src/components/card/BaseCard.vue
  FE/my-vue-app/src/components/form/BaseFileUpload.vue
  FE/my-vue-app/src/components/layout/Footer.vue
  FE/my-vue-app/src/views/LandingPage.vue
Due: build-fe, package-fe, deploy-frontend
