Repository colamong/Daon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-and-push-be, deploy-backend, deploy-frontend

.gitlab-ci.yml:

# .gitlab-ci.yml — BE(도커) + FE(정적배포), deploy 브랜치 전용

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'
    - when: never

stages: [build_be, deploy_be, build_fe, package_fe, deploy_fe]

default:
  interruptible: true
  tags: ["daon"]  # 모든 잡을 EC2 Shell 러너에서 실행

.ssh_setup: &ssh_setup
  - mkdir -p ~/.ssh
  - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - ssh-keyscan -H "$SSH_HOST" >> ~/.ssh/known_hosts

# ===== Backend =====

build-and-push-be:
  stage: build_be
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'
      changes:
        - BE/**/*
  before_script:
    - docker -v
  script:
    - echo "=== Docker Hub Login ==="
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_TOKEN"
    - echo "=== Docker Build ==="
    - docker build -t "$IMAGE_NAME:latest" BE
    - echo "=== Docker Push ==="
    - docker push "$IMAGE_NAME:latest"

deploy-backend:
  stage: deploy_be
  needs: ["build-and-push-be"]
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'
      changes:
        - BE/**/*
  script:
    - set -euxo pipefail
    - docker stop "$CONTAINER_NAME" || true
    - docker rm "$CONTAINER_NAME" || true
    - docker pull "$IMAGE_NAME:latest"
    - test -f "$ENV_FILE"
    - docker run -d --name "${CONTAINER_NAME}" --network daon-network --env-file "${ENV_FILE}" -p "${HOST_PORT}:${CONTAINER_PORT}" --restart=always "${IMAGE_NAME}:latest"

# ===== Frontend =====

# 기존 build-fe / package-fe 잡은 413의 원인이 되는 아티팩트 업로드가 있어 비활성화.
# (룰을 when: never로 바꿔 두고, 실제 배포는 deploy-frontend 한 잡에서 모두 처리)
build-fe:
  stage: build_fe
  rules:
    - when: never
  script:
    - echo "Skipping build-fe job (disabled)"

package-fe:
  stage: package_fe
  rules:
    - when: never
  script:
    - echo "Skipping package-fe job (disabled)"

deploy-frontend:
  stage: deploy_fe
  environment:
    name: production
    url: https://i13a706.p.ssafy.io
  rules:
    - if: '$CI_COMMIT_BRANCH == "deploy"'
      changes:
        - FE/my-vue-app/**/*
  before_script:
    - *ssh_setup
    - set -euxo pipefail
    - node -v
    - npm -v
    - cd FE/my-vue-app
  script:
    # 1) 로컬에서 빌드
    - npm ci
    - npm run build

    # 2) 릴리스 식별자/패키징
    - export RELEASE="${CI_PIPELINE_IID}-${CI_COMMIT_SHORT_SHA}"
    - tar -czf "dist-${RELEASE}.tar.gz" -C dist .

    # 3) 서버 대상 경로 계산
    - export TARGET="${SSH_TARGET_DIR}"
    - export RELEASE_DIR="${TARGET}/releases/${RELEASE}"

    # 4) 서버에 릴리스 폴더 생성 후, 패키지 업로드 & 해제
    - ssh ${SSH_USER}@${SSH_HOST} "mkdir -p '${RELEASE_DIR}'"
    - scp "dist-${RELEASE}.tar.gz" ${SSH_USER}@${SSH_HOST}:"${RELEASE_DIR}/"
    - ssh ${SSH_USER}@${SSH_HOST} "cd '${RELEASE_DIR}' && tar -xzf dist-${RELEASE}.tar.gz && rm dist-${RELEASE}.tar.gz"

    # 5) 심볼릭 링크 스위칭 (current → 새 릴리스)
    - ssh ${SSH_USER}@${SSH_HOST} "ln -sfn '${RELEASE_DIR}' '${TARGET}/current'"

    # 6) 퍼미션 정리(옵션) & Nginx 재로드
    - ssh ${SSH_USER}@${SSH_HOST} "sudo chown -R www-data:www-data '${TARGET}' || true"
    - ssh ${SSH_USER}@${SSH_HOST} "sudo nginx -t && sudo systemctl reload nginx"

  allow_failure: false

fix: 커뮤니티 문구 및 레이아웃 수정
  FE/my-vue-app/src/assets/images/community-hero.png
  FE/my-vue-app/src/views/CommunityList.vue
Due: deploy-frontend

fix: 커뮤니티 레이아웃 수정
  FE/my-vue-app/src/views/CommunityList.vue
Due: deploy-frontend

fix: 챕터 번호 수정
  BE/src/main/java/com/daon/be/learning/dto/response/ChapterResponseDTO.java
  BE/src/main/java/com/daon/be/learning/entity/Chapter.java
  BE/src/main/java/com/daon/be/learning/repository/ChapterRepository.java
  BE/src/main/java/com/daon/be/learning/service/ChapterService.java
  FE/my-vue-app/src/services/learningService.js
  FE/my-vue-app/src/views/ChapterSelect.vue
  FE/my-vue-app/src/views/LearningPage.vue
Due: build-and-push-be, deploy-backend, deploy-frontend

fix: 커뮤니티 채팅방 디자인 수정
  FE/my-vue-app/src/components/modal/ConfirmModal.vue
  FE/my-vue-app/src/components/widget/ChatBubble.vue
  FE/my-vue-app/src/components/widget/ChatInput.vue
  FE/my-vue-app/src/components/widget/ChatWindow.vue
  FE/my-vue-app/src/views/CommunityChat.vue
Due: deploy-frontend

fix: 컬럼 이름수정
  BE/src/main/java/com/daon/be/learning/entity/Chapter.java
  BE/src/main/java/com/daon/be/learning/entity/Theme.java
  BE/src/main/java/com/daon/be/learning/service/ChapterService.java
Due: build-and-push-be, deploy-backend

fix: 커뮤니티 수정사항
  FE/my-vue-app/src/components/widget/ChatWindow.vue
  FE/my-vue-app/src/components/widget/SearchBar.vue
  FE/my-vue-app/src/views/CommunityChat.vue
  FE/my-vue-app/src/views/CommunityList.vue
Due: deploy-frontend

Update ChapterService.java
  BE/src/main/java/com/daon/be/learning/service/ChapterService.java
Due: build-and-push-be, deploy-backend

fix: 커뮤니티 채팅방 배경 수정
  FE/my-vue-app/src/components/widget/ChatInput.vue
  FE/my-vue-app/src/components/widget/ChatWindow.vue
Due: deploy-frontend

fix: 아이 프로필 위치 수정 및 튜토리얼 모달 수정
  FE/my-vue-app/src/components/layout/Header.vue
  FE/my-vue-app/src/components/modal/NavigationTutorialModal.vue
  FE/my-vue-app/src/views/Dashboard.vue
Due: deploy-frontend

Edit localhost link
  AI_Pronounciation/stt_service.py
Due: none

fix: childmain 아이콘 수정
  FE/my-vue-app/src/assets/images/Home.png
  FE/my-vue-app/src/assets/images/out.png
  FE/my-vue-app/src/assets/images/out_1.png
  FE/my-vue-app/src/components/modal/ChildSelectModal.vue
Due: deploy-frontend

fix: childmain 아이 프로필 수정 중
  FE/my-vue-app/src/components/widget/CloudShape.vue
  FE/my-vue-app/src/views/ChildMain.vue
Due: deploy-frontend

fix: localhost link
  AI_Pronounciation/stt_service.py
Due: none

fix: ci/cd 테스트
  FE/my-vue-app/src/components/card/AnswerCard.vue
Due: deploy-frontend

fix: 테스트
  FE/my-vue-app/src/components/card/AnswerCard.vue
Due: deploy-frontend

fix: deploy 직접 푸시 테스트
  FE/my-vue-app/src/components/card/AnswerCard.vue
Due: deploy-frontend

작업 중
  FE/my-vue-app/src/components/widget/CloudShape.vue
  FE/my-vue-app/src/views/ChildMain.vue
Due: deploy-frontend

fix: 상황별 학습 수정사항 해결 및 사운드 경로 수정
  FE/my-vue-app/src/views/ChapterSelect.vue
  FE/my-vue-app/src/views/ChildDrawing.vue
  FE/my-vue-app/src/views/ChildMain.vue
  FE/my-vue-app/src/views/LearningPage.vue
Due: deploy-frontend

feat: da-on CORS 문제해결
  BE/src/main/java/com/daon/be/global/config/WebConfig.java
Due: build-and-push-be, deploy-backend

Update ChatMessageServiceImpl.java
  BE/src/main/java/com/daon/be/community/service/ChatMessageServiceImpl.java
Due: build-and-push-be, deploy-backend

feat: 입퇴장 메시지 구현
  BE/src/main/java/com/daon/be/community/dto/response/ChatMessageResponseDto.java
  BE/src/main/java/com/daon/be/community/entity/ChatMessage.java
  BE/src/main/java/com/daon/be/community/repository/CommunityParticipationRepository.java
  BE/src/main/java/com/daon/be/community/service/CommunityServiceImpl.java
  FE/my-vue-app/src/components/widget/ChatBubble.vue
  FE/my-vue-app/src/components/widget/ChatWindow.vue
  FE/my-vue-app/src/services/websocketService.js
  FE/my-vue-app/src/views/CommunityChat.vue
Due: build-and-push-be, deploy-backend, deploy-frontend

Update WebConfig.java
  BE/src/main/java/com/daon/be/global/config/WebConfig.java
Due: build-and-push-be, deploy-backend

Update AnswerCard.vue
  FE/my-vue-app/src/components/card/AnswerCard.vue
Due: deploy-frontend

fix: 업로드 전 오디오 ensureMono16kWav 변환 경로 추가
  FE/my-vue-app/src/components/modal/PronunciationModal.vue
  FE/my-vue-app/src/services/pronunciationService.js
Due: deploy-frontend

fix: login page
  FE/my-vue-app/src/views/Login.vue
  FE/my-vue-app/src/views/OAuthCallback.vue
Due: deploy-frontend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

fix: child 관련 수정
  FE/my-vue-app/src/assets/images/daon_logo.png
  FE/my-vue-app/src/assets/images/name_tag.png
  FE/my-vue-app/src/components/layout/Header.vue
  FE/my-vue-app/src/router/index.js
  FE/my-vue-app/src/views/ChildDrawing.vue
  FE/my-vue-app/src/views/ChildMain.vue
  FE/my-vue-app/src/views/ChildPet.vue
Due: deploy-frontend

Edit pronunciationService.js
  FE/my-vue-app/src/services/pronunciationService.js
Due: deploy-frontend

fix: console.log 추가
  FE/my-vue-app/.env.production
  FE/my-vue-app/src/services/pronunciationService.js
Due: deploy-frontend

Edit .env.production
  FE/my-vue-app/.env.production
Due: deploy-frontend

fix: @ 위치 수정
  FE/my-vue-app/src/views/Login.vue
  FE/my-vue-app/src/views/SignUp.vue
Due: deploy-frontend

fix: 회원가입 및 로그인 디테일 수정
  FE/my-vue-app/src/views/Login.vue
  FE/my-vue-app/src/views/SignUp.vue
Due: deploy-frontend

fix: 타이핑 효과 수정
  FE/my-vue-app/src/components/effect/TypingEffect.vue
Due: deploy-frontend

fix: 소리 재생 및 디테일한 부분 수정
  FE/my-vue-app/src/components/card/BaseCard.vue
  FE/my-vue-app/src/components/layout/Footer.vue
  FE/my-vue-app/src/components/layout/Header.vue
  FE/my-vue-app/src/components/modal/AddEventModal.vue
  FE/my-vue-app/src/components/modal/BaseModal.vue
  FE/my-vue-app/src/components/modal/ChildSelectModal.vue
  FE/my-vue-app/src/components/modal/ConfirmChildRegistrationModal.vue
  FE/my-vue-app/src/components/modal/EmotionReportModal.vue
  FE/my-vue-app/src/components/modal/IncorrectAnswerModal.vue
  FE/my-vue-app/src/components/modal/NavigationTutorialModal.vue
  FE/my-vue-app/src/views/ChildPet.vue
  FE/my-vue-app/src/views/Login.vue
  FE/my-vue-app/src/views/SignUp.vue
  FE/my-vue-app/vite.config.js
Due: deploy-frontend

feat: change responsive
  FE/my-vue-app/src/components/card/BaseCard.vue
  FE/my-vue-app/src/components/form/BaseFileUpload.vue
  FE/my-vue-app/src/components/form/BaseImageUpload.vue
  FE/my-vue-app/src/components/layout/Footer.vue
  FE/my-vue-app/src/components/layout/Header.vue
  FE/my-vue-app/src/components/modal/BaseModal.vue
  FE/my-vue-app/src/components/modal/ChildSelectModal.vue
  FE/my-vue-app/src/components/modal/ConfirmChildRegistrationModal.vue
  FE/my-vue-app/src/components/modal/NavigationTutorialModal.vue
  FE/my-vue-app/src/services/websocketService.js
  FE/my-vue-app/src/views/ChildProfile.vue
  FE/my-vue-app/src/views/Dashboard.vue
  FE/my-vue-app/src/views/EditChild.vue
  FE/my-vue-app/src/views/Growth.vue
  FE/my-vue-app/src/views/Login.vue
  FE/my-vue-app/src/views/OCRResult.vue
  FE/my-vue-app/src/views/RegisterChild.vue
  FE/my-vue-app/src/views/SignUp.vue
Due: deploy-frontend

fix: 재접속 시 이미지 못받는 것 해결
  FE/my-vue-app/src/store/auth.js
Due: deploy-frontend

fix: 달력 관련 로직 한국 시간대로 체크하게 다시 수정
  FE/my-vue-app/src/components/card/ScheduleCard.vue
  FE/my-vue-app/src/components/modal/AddEventModal.vue
  FE/my-vue-app/src/components/widget/CalendarWidget.vue
  FE/my-vue-app/src/store/child.js
  FE/my-vue-app/src/utils/dayjs.js
  FE/my-vue-app/src/utils/formatDate.js
  FE/my-vue-app/src/views/Dashboard.vue
  FE/my-vue-app/src/views/Growth.vue
Due: deploy-frontend

feat: responsive
  FE/my-vue-app/src/components/card/CommunityCard.vue
  FE/my-vue-app/src/components/card/ScenarioCard.vue
  FE/my-vue-app/src/components/layout/Header.vue
  FE/my-vue-app/src/components/modal/AddEventModal.vue
  FE/my-vue-app/src/components/modal/BaseModal.vue
  FE/my-vue-app/src/views/ChapterSelect.vue
  FE/my-vue-app/src/views/CommunityList.vue
  FE/my-vue-app/src/views/LearningPage.vue
  FE/my-vue-app/src/views/OCRTool.vue
  FE/my-vue-app/src/views/ProfileEdit.vue
  FE/my-vue-app/src/views/RegisterChild.vue
  FE/my-vue-app/src/views/ThemeSelect.vue
  FE/my-vue-app/vite.config.js
Due: deploy-frontend
